<!-- TOP BAR -->
<div class="topbar bg-light border-bottom">
  <div class="container py-2">
    <div class="row gy-1 gx-3 align-items-center">

      <!-- Телефон -->
      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center gap-2">
        <i class="pi pi-headphones"></i>
        <span>+389 / 71 277 738</span>
      </div>

      <!-- Е-пошта -->
      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center gap-2">
        <i class="pi pi-envelope"></i>
        <span>transhausa@gmail.com</span>
      </div>

      <!-- Адреса -->
      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center gap-2">
        <i class="pi pi-map-marker"></i>
        <span>Димитрија Чуповски 6-1, бр. 11</span>
      </div>

      <!-- Работно време -->
      <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center gap-2">
        <i class="pi pi-clock"></i>
        <span>ПОН – ПЕТ 08:00 – 17:00</span>
      </div>

    </div>
  </div>
</div>
<header class="th-header">
  <nav class="navbar navbar-expand-lg">
      <div class="container">

          <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
              <img height="32" src="assets/logo.png">
              <span class="th-logo-text">ТРАНСХАУСА</span>
          </a>

          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="mainNavbar">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-4">
                  <li class="nav-item">
                      <a class="nav-link header-link" routerLink="/" href="/">Почетна</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link header-link" routerLink="/our-story" href="/our-story">Наша приказна</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link header-link" routerLink="/services" href="/services">Услуги</a>
                  </li>
              </ul>

          </div>

      </div>

  </nav>
</header>

