.th-logo-text {
    font-weight: 800;
    letter-spacing: 0.08em;
    color: #F56FA1;
  }
  

  .footer-link {
    color: #444;
    text-decoration: none;
    }

.footer-link:hover {
        color: #ff4fa3;        // твојата розева
        text-decoration: underline;
}


.footer-icon-link {
    color: #000;
    font-size: 1.1rem;
}
            
.footer-icon-link:hover {
    color: #ff4fa3;
}