<footer class="site-footer pt-5 pb-4">
    <div class="container">
        <div class="row gy-4">

            <div class="columnOne col-12 col-lg-4">
                <div class="image mb-3">
                    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
                        <img height="32" src="assets/logo.png">
                        <span class="th-logo-text">ТРАНСХАУСА</span>
                    </a>
                </div>

                <p class="small mb-3">Водечка агенција за преводи која обезбедува висококвалитетни
                    преводи за деловни и лични потреби. Нашите лингвисти се
                    специјализирани за повеќе индустрии и јазици, гарантирајќи
                    точност и професионализам со секој документ.</p>

                <div class="contact small">
                    <div class="mb-1">
                        <p class="mb-1"><strong>Контакт</strong></p>
                    </div>
                    <div class="mb-1 d-flex gap-2">
                        <i class="pi pi-headphones"></i>
                        <span>+389 / 71 277 738</span>
                    </div>
                    <div class="mb-1 d-flex gap-2">
                        <i class="pi pi-envelope"></i>
                        <span>transhausa@gmail.com</span>
                    </div>
                    <div class="mb-1 d-flex gap-2">
                        <i class="pi pi-map-marker"></i>
                        <span>Димитрија Чуповски 6-1, бр. 11</span>
                    </div>

                    <div class="links d-flex gap-2">

                        <a class="footer-icon-link">
                            <i class="pi pi-facebook"></i>
                        </a>

                        <a class="footer-icon-link">
                            <i class="pi pi-instagram"></i>
                        </a>

                        <a class="footer-icon-link">
                            <i class="pi pi-linkedin"></i>
                        </a>

                    </div>
                </div>
            </div>

            <div class="columnTwo col-12 col-md-4 col-lg-3">
                <p class="mb-2"><strong>Навигација</strong></p>
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="/" class="footer-link" routerLink="/">Почетна</a></li>
                    <li class="nav-item"><a  href="/our-story" class="footer-link" routerLink="/our-story">Наша приказна</a></li>
                    <li class="nav-item"><a class="footer-link" href="/services" routerLink="/services">Услуги</a></li>
                    
                </ul>
            </div>

            <div class="columnThree col-12 col-md-8 col-lg-5">
                <p class="mb-2"><strong>Локација</strong></p>
                <div class="ratio ratio-4x3 rounded overflow-hidden">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.254623780847!2d21.4304781!3d41.994810699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415ee31db5425%3A0x5f78692125ad4293!2sTranshausa%20-%20Premium%20translation%20services!5e0!3m2!1sen!2smk!4v1764502267292!5m2!1sen!2smk" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

            </div>
        </div>

    </div>
</footer>